/* responsive design for mobile */

  nav, .inside nav {
    display: grid;
    grid-template-columns: minmax(15%, 20%) minmax(280px, 1fr); }
  #map-container {
    display: none; }
  #restaurants-list li {
    margin: 30px; }
  #mapToggle {
    display: block;
    position: absolute;
    width: auto;
    color: black; }
  .inside #map-container {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 300px; }
  #map {
    height: 300px; }
  .inside header {
    position: relative; }
  #restaurant-container {
    padding: 30px 20px; }
  .restaurant-grid {
    grid-template-columns: 1fr; }
  .inside footer {
    width: 100%; }
  .filter-options select {
    width: 95%; }
  .add-review.open {
      width: 330px;
      height: 389px;
    }
    .form--field {
      width: 290px;
      margin: 10px 0;
    }
