
/*responsive design for tablets/phablets */

  .nav-primary {
    display: grid;
    grid-template-columns: 15% 1fr;
    justify-item: center; }
  #map-container {
    display: none; }
  #restaurants-list li {
    margin: 10px;
    width: auto; }
  #mapToggle {
    display: block;
    position: absolute;
    color: black; }
  .inside #map-container {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 300px; }
  #map {
    height: 300px; }
  .inside header {
    position: relative; }
  #restaurant-container {
    padding: 30px 20px; }
  .restaurant-grid {
    grid-template-columns: 1fr; }
  .add-review.open {
      width: 440px;
      height: 389px;
    }
  .form--field {
      width: 400px;
      margin: 10px 0;
    }
